:root {
    --background-color: #fff;
    --selected-background-color: rgb(212, 212, 212);
    --hover-background-color: rgb(222, 222, 222);
    --text-color: #333;
    --comment-background-color: rgb(216, 222, 245);
    --comment-selected-background-color: rgb(177, 185, 214);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1f1f1f;
        --selected-background-color: rgb(103, 103, 103);
        --hover-background-color: rgb(113, 113, 113);
        --text-color: #c5c5c5;
        --comment-background-color: rgb(123, 127, 147);
        --comment-selected-background-color: rgb(141, 148, 175);
    }
}

* {
    font-family: ui-sans-serif;
}

input,
textarea {
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid lightgray;
    border-radius: 4px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

span.beforeSubLoad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

button {
    cursor: pointer;
    font-size: 0.84rem;
    padding: 0.08rem 0.2rem;
    border: 1px solid gray;
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
}

button:hover {
    background-color: lightgray;
}